streamlit
pandas
numpy
plotly
pillow
pytesseract

# Google APIs
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
gspread

# AI
google-generativeai

# Utils
tenacity
pydantic
